body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: row;
    background-color: lightblue;
}
div#esquerda{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
}
div#direita{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
}
img{
    position: relative;
    left: 30px;
}
h1{
    font-size: 60px;
}
#temporizador{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: row;
}
#pontuacao{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: row;
}
#tempo{
    font-size: 30px;
}
#ptn{
    font-size: 30px;
}
div#meio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 80px; 
    padding-left: 80px; 
}
.jogar{
    font-family: Arial;
    font-size: medium;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 10px;
    cursor: pointer;
 }
 .jogar{
    background: rgb(46, 96, 161);
    color: white;
    box-shadow:0 5px 0 rgb(29, 62, 94);
 }
 .jogar:hover{
    background: rgb(27, 57, 90);
    color: white;
    box-shadow:0 5px 0 rgb(17, 33, 56);
 }
 .jogar:active{
    position: relative;
    top: 5px;
    box-shadow: none;
 }
